body {
  margin: 0;
  background-color: var(--color-4);
  color: var(--color-1);
  font-family: "Roboto", sans-serif;

  --color-1: #624E88;
  --color-2: #8967B3;
  --color-3: #CB80AB;
  --color-4: #E6D9A2;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--color-3);
}

ul {
  display: flex;
  gap: 2rem;
  font-size: 2rem;
}

li {
  list-style: none;
 }

img#header-logo {
  width: 4rem;
  margin-right: 3rem;
}

a {
  color: var(--color-2);
  text-decoration: none;
  font-weight: 500;
  font-style: italic;
}

li > a {
  font-weight: 700;
  font-style: normal;
  color: var(--color-4);
}

main {
  padding: 1rem;
}

section {
  margin-left: 1rem;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  margin-bottom: 2rem;
}

h2 {
  margin-top: 1rem;
}

h3 {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

p {
  margin: 0;
  margin-left: 1rem;
  max-width: 800px;
}

p#mark-disclaimer {
  margin-top: 2rem
}

p.mr-bottom {
  margin-bottom: 1rem;
}
