.a {
    background-image: linear-gradient(
      to right,
      #1abb5d,
      #1abb5d 50%,
      #b7b7b7 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    position: relative;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}
  
.a:before {
    content: '';
    background: #54b3d6;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}
  
.a:hover {
   background-position: 0;
}
  
.a:hover::before {
    width:100%;
}

.button {
    background-color: "#000000" !;
    color: "#b7b7b7" !;
}

.separador {
	margin-top: 0.02vh;
  overflow: hidden;
  height: 1.3vh;
}

.separador:after {
  content: '';
  display: block;
  width: 90%;
  height: 30px;
	margin: -30px auto 0;
  border-radius: 120px / 10px;
  box-shadow: 0px 0px 8px rgba(26, 187, 93, 0.6);
}